.article {
    align-items: center;
    width: 100%;
    border-top: 1px solid #acacac;
    padding-top: .7em;
}

.article p {
    margin-bottom: 0;
}

.product-name {
    margin-left: -5em;
    font-size: 10px;
}

.product-name p{
    font-size: 12px;
    color: rgb(158, 158, 158);
    margin-bottom: 0;
}

.quantity {
    display: flex;
    max-height: 2em;
    border: 1px solid #acacac;
    padding: .5em;
    justify-content: center;
    align-items: center;
}

.quantity-btn {
    border: none;
    background-color: #fff;
}

.quantity-btn-left {
    border-right: 1px solid rgb(243, 243, 243);
}

.quantity-btn-right {
    border-left: 1px solid rgb(243, 243, 243);
}

.quantity-number {
    margin: 0 .5em;
}

.article-image {
    width: 6em;
}

.article-center-text {
    text-align: left;
}

.product-price {
    font-size: 15px !important;
    margin: 1em 0 !important;
    color: #000 !important;
} 

.discount {
    color: red !important;
    margin-right: .5em !important;
    text-decoration:line-through;
}

.fa-trash-alt {
    transition: .3s;
}

.fa-trash-alt:hover {
    cursor: pointer;
    transform: scale(1.1);
}



@media only screen and (max-width: 861px) {
    .article {
        align-items: initial;
    }

    .article-image {
        width: 7em;
    }
}